<html>
<head>
 <title>Пробник</title>
</head>
<h1 aline>Рецепт блюда Пирог прибоя от Эолы из игры Genshin Impact</h1>
<img src="https://static.wikia.nocookie.net/genshin-impact/images/d/d8/Еда_Пирог_прибоя.png/revision/latest/scale-to-width-down/256?cb=20210511142623&path-prefix=ru">
<p>Особое блюдо Эолы. Это пирог из игры Genshin Impact. Он отражает жизненный принцип Эолы «зуб за зуб». Под золотистой коркой находится ароматная, солёная с дымком начинка. Сейчас я вам расскажу, как его приговить.</p>
<h2>Ингредиенты, которые тебе понадобятся</h2>
<ol>
 <li>Для теста:
 <ul type="square">
  <li>Сливочное масло — 36г</li>
  <li>Мед — 36г</li>
  <li>Сгущенное молоко — 36г</li>
  <li>Кукурузный крахмал — 30г</li>
  <li>Хлебопекарная мука — 120г</li>
 </ul>
 </li>
 <li>Для начинки:
 <ul type="square">
  <li>Чеснок — 3 зубчика</li>
  <li>Лук — половинка</li>
  <li>Сельдерей — 1 шт</li>
  <li>Шампиньоны — 4 шт</li>
  <li>Морковка — половинка</li>
  <li>Куриные бедрышки — 250г</li>
  <li>Яйцо</li>
  <li>Зеленый горошек</li>
  <li>Куриный бульон — 20г</li>
  <li>Сливочное масло — 20г</li>
  <li>Жирные сливки — 100мл</li>
  <li>Петрушка</li>
  <li>Соевый соус</li>
  <li>Сахар, соль, перец</li>
 </ul>
 </li>
</ol>
<h2>Способ приготовления</h2>
<ol>
 <li>Начнем с теста. Тщательно смешай вместе сливочное масло, мед, сгущенку, после чего добавь туда просеянную муку.</li>
 <li>Хорошенько замешай тесто, заверни его в пленку и оставь на полчаса.</li>
 <li>В это время подготовим начинку. Нарежь кубиками лук, морковку, сельдерей, нашинкуй грибы и мелко поруби чеснок.</li>
 <li>Перейдем к мясу. Порежь куриные бедрышки, после чего замаринуй их в соевом соусе, добавив туда кукурузный крахмал, сахар, соль и перец. Оставь его также на 30 минут.</li>
 <li>После на среднем огне поджарь курицу. Сними с огня, как только мясо поменяет цвет.</li>
 <li>На пустой сковородке растопи сливочное масло и поджарь овощи до золотистой корочки (грибы добавляй в последнюю очередь). Сверху присыпь все небольшим количеством муки.</li>
 <li>Дальше залей все овощи куриным бульоном, после чего добавь к начинке куриные бедрышки. Сверху посыпь петрушкой. Туши на медленном огне примерно 10 минут.</li>
 <li>После чего к почти готовой начинке добавь замороженный зеленый горошек и залей все сливками. Продолжай тушить еще 5 минут, чтобы все пропиталось. Получившуюся смесь можешь положить в холодильник.</li>
 <li>Вернемся к тесту. Хорошенько его раскатай и вырежи круг. Внутрь положи нашу начинку и сверни конвертик полумесяцем, похожим на китайскую пельмешку. Промни все края, чтобы начинка не вытекла.</li>
 <li>По желанию яичным желтком можешь прорисовать узор на поверхности пирога, чтобы он был не только вкусный, но и красивый 😍</li>
 <li>В разогретую до 200° духовку положи пирог на 6 минут. После чего вытащи его и смажь всю поверхность яичным желтком. Верни в духовку еще на 10 минут.</li>
 <li>Наш румяный пирог прибоя готов! Совет: готовь сразу несколько, потому что одного будет явно мало 😋</li>
</ol>
<p>Более подробный рецепт и другие рецепты из игры Genshin Impact вы можете узнать по этой ссылке</p>
<a href="https://www.ellegirl.ru/articles/7-samykh-vkusnykh-receptov-blyud-iz-genshin-impact-kotorye-ty-mozhesh-prigotovit-doma/">Клик сюда</a>
</html>
